<?xml version="1.0" encoding="utf-8" ?>
<autoNode>

 <!-- 
 Below is a sample of an AutoNode rule that creates a document of doctype "Dummy" 
 with name "Dummy Name" whenever a document of doctype "TextPage" is published.
 In this specific example, the newly created document is then positioned first among other child pages (bringNewNodeFirst="true")
 In this specific example, the new document will be created even if the parent document has other child pages (onlyCreateIfNoChildren="false")
 
 Uncomment and adapt this rule or create your own. 
 You can create multiple rules, even for adding documents of the same doctype under the same node,
 as long as they have different names.
 -->

  <rule 
    createdDocTypeAlias="TextPage" 
    docTypeAliasToCreate="Dummy" 
    nodeName="Dummy Name" 
    bringNewNodeFirst="true" 
    onlyCreateIfNoChildren="false"
    createIfExistsWithDifferentName="false">
   </rule>
  
</autoNode>
