<?xml version="1.0" encoding="utf-8" ?>
<autoNode logLevel="Verbose">

	<rule
	createdDocTypeAlias="pageHome"
	docTypeAliasToCreate="folderConfiguration"
	nodeName="Settings"
	bringNewNodeFirst="true"
	onlyCreateIfNoChildren="false"
	createIfExistsWithDifferentName="false"
	dictionaryItemForName=""
	blueprint="">
	</rule>


	<rule
	  createdDocTypeAlias="pageHome"
	  docTypeAliasToCreate="pageSiteMap"
	  nodeName="Sitemap"
	  bringNewNodeFirst="true"
	  onlyCreateIfNoChildren="false"
	  createIfExistsWithDifferentName="false"
	  dictionaryItemForName=""
	  blueprint="">
	</rule>

	<rule
	  createdDocTypeAlias="pageHome"
	  docTypeAliasToCreate="pageSearchResults"
	  nodeName="Search Results"
	  bringNewNodeFirst="true"
	  onlyCreateIfNoChildren="false"
	  createIfExistsWithDifferentName="false"
	  dictionaryItemForName=""
	  blueprint="">
	</rule>

	<rule
	  createdDocTypeAlias="pageHome"
	  docTypeAliasToCreate="page404"
	  nodeName="Page Not Found"
	  bringNewNodeFirst="true"
	  onlyCreateIfNoChildren="false"
	  createIfExistsWithDifferentName="false"
	  dictionaryItemForName=""
	  blueprint="">
	</rule>


	<rule
	createdDocTypeAlias="folderConfiguration"
	docTypeAliasToCreate="configGlobalSettings"
	nodeName="Site Settings"
	bringNewNodeFirst="true"
	onlyCreateIfNoChildren="false"
	createIfExistsWithDifferentName="false"
	dictionaryItemForName=""
	blueprint="">
	</rule>

	<rule
   createdDocTypeAlias="folderConfiguration"
   docTypeAliasToCreate="configScriptSettings"
   nodeName="Script Settings"
   bringNewNodeFirst="false"
   onlyCreateIfNoChildren="false"
   createIfExistsWithDifferentName="false"
   dictionaryItemForName=""
   blueprint="">
	</rule>

	<rule
   createdDocTypeAlias="folderConfiguration"
   docTypeAliasToCreate="configMenuAndFooterSettings"
   nodeName="Menu and Footer Settings"
   bringNewNodeFirst="false"
   onlyCreateIfNoChildren="false"
   createIfExistsWithDifferentName="false"
   dictionaryItemForName=""
   blueprint="">
	</rule>

	<rule
   createdDocTypeAlias="folderConfiguration"
   docTypeAliasToCreate="configSocialLinks"
   nodeName="Social Links"
   bringNewNodeFirst="false"
   onlyCreateIfNoChildren="false"
   createIfExistsWithDifferentName="false"
   dictionaryItemForName=""
   blueprint="">
	</rule>

	<rule
	 createdDocTypeAlias="folderConfiguration"
	 docTypeAliasToCreate="configDashboardSettings"
	 nodeName="Dashboard Settings"
	 bringNewNodeFirst="false"
	 onlyCreateIfNoChildren="false"
	 createIfExistsWithDifferentName="false"
	 dictionaryItemForName=""
	 blueprint="">
	</rule>

	<rule
	 createdDocTypeAlias="folderConfiguration"
	 docTypeAliasToCreate="categoriesImageGallery"
	 nodeName="Image Galleries Categories"
	 bringNewNodeFirst="false"
	 onlyCreateIfNoChildren="false"
	 createIfExistsWithDifferentName="false"
	 dictionaryItemForName=""
	 blueprint="">
	</rule>

	<rule
	 createdDocTypeAlias="folderConfiguration"
	 docTypeAliasToCreate="configCookieSettings"
	 nodeName="Cookie Settings"
	 bringNewNodeFirst="false"
	 onlyCreateIfNoChildren="false"
	 createIfExistsWithDifferentName="false"
	 dictionaryItemForName=""
	 blueprint="">
	</rule>

	<rule
	 createdDocTypeAlias="folderConfiguration"
	 docTypeAliasToCreate="configLoginPage"
	 nodeName="Back Office Login Messages"
	 bringNewNodeFirst="false"
	 onlyCreateIfNoChildren="false"
	 createIfExistsWithDifferentName="false"
	 dictionaryItemForName=""
	 blueprint="">
	</rule>

	<rule
   createdDocTypeAlias="pageBlogList"
   docTypeAliasToCreate="folderArticlePosts"
   nodeName="Posts"
   bringNewNodeFirst="false"
   onlyCreateIfNoChildren="false"
   createIfExistsWithDifferentName="false"
   dictionaryItemForName=""
   blueprint="">
	</rule>

	<rule
   createdDocTypeAlias="pageBlogList"
   docTypeAliasToCreate="folderAuthors"
   nodeName="Authors"
   bringNewNodeFirst="false"
   onlyCreateIfNoChildren="false"
   createIfExistsWithDifferentName="false"
   dictionaryItemForName=""
   blueprint="">
	</rule>

	<rule
	 createdDocTypeAlias="pageBlogList"
	 docTypeAliasToCreate="folderGenericCategories"
	 nodeName="Categories"
	 bringNewNodeFirst="false"
	 onlyCreateIfNoChildren="false"
	 createIfExistsWithDifferentName="false"
	 dictionaryItemForName=""
	 blueprint="">
	</rule>


	<rule
		createdDocTypeAlias="pageProductsList"
		docTypeAliasToCreate="folderProducts"
		nodeName="Products"
		bringNewNodeFirst="true"
		onlyCreateIfNoChildren="false"
		createIfExistsWithDifferentName="false"
		dictionaryItemForName=""
		blueprint="">
	</rule>


	<rule
		createdDocTypeAlias="testParent"
		docTypeAliasToCreate="testChild"
		nodeName="Child Node"
		bringNewNodeFirst="true"
		onlyCreateIfNoChildren="false"
		createIfExistsWithDifferentName="false"
		dictionaryItemForName=""
		blueprint="">
	</rule>

</autoNode>